.Login{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    opacity: 1;
    
}

.google-button{

    background:red;
    color:white;
    width:25%;
    height:75px;
    border-radius:2em;
    font-size:2em;
    text-shadow:1pt 1pt 2pt black;
    margin:10% auto;
    transition:ease-out .5s;

}
.google-button:hover{

    cursor:pointer;
    box-shadow: 1pt 1pt 2pt 2pt black;

}

